.main-page {
    min-height: 100vh;
    overflow-y: hidden;
    position:   relative;

    header {
        position:         relative;
        z-index:          1;
        padding:          43px 0;
        background-color: $dark;
    }

    &__content {
        height: calc(100vh - 144px);
        @extend .row, .items-center, .justify-between;

        &--text {
            h1 {
                margin-bottom: 40px;
            }

            h3 {
                @media (max-width: $md) {
                    margin-bottom: 17px;
                }
            }

            @media (max-width: $md) {
                text-align: center;
            }
        }

        &--img {
            max-width:  897px;
            max-height: 800px;
            width:      100%;
            margin-top: auto;

            @media (max-width: $md) {
                margin-top: 0;

            }
        }

        @media (max-width: $md) {
            justify-content: flex-start;
            flex-direction:  column;
            height:          auto;
            min-height:      unset;
        }
    }

    &__user {
        position: relative;
    }

    &__logout {
        position:         absolute;
        left:             -88px;
        bottom:           calc((117px + 16px) * (-1));
        display:          flex;
        justify-content:  center;
        align-items:      center;
        width:            145px;
        height:           117px;
        box-shadow:       0 15px 46px -10px rgba(0, 0, 0, 0.6);
        background-color: $dark-middle;
        border-radius:    12px;

        &::after {
            content:       '';
            position:      absolute;
            right:         20px;
            top:           -20px;
            border:        10px solid transparent;
            border-bottom: 10px solid $dark-middle;
        }
    }

    @media (max-width: $md) {
        overflow-y: auto;
    }

    .user-info {
        .text-small {
            @media (max-width: $xs) {
                display: none;
            }
        }

    }

    &__user {
        img {
            @media (max-width: $xs) {
                width:  36px;
                height: 36px;
            }
        }
    }

    &__logo {
        @media (max-width: $xs) {
            width:  154px;
            height: 36px;
        }
    }

    &__add-btn {
        position:   fixed;
        bottom:     40px;
        right:      40px;
        box-shadow: 0 15px 46px -10px rgba(0, 0, 0, 0.6);
        @media (max-width: $xs) {
            right: 8px;
        }
    }

    &__add-dialog {

        .text-notice {
            margin-bottom: 80px;

            textarea {
                height: 244px;
                @media (max-width: $md) {
                    height: 168px;
                }
            }
        }

        @media (max-width: $xs) {
            .button-default-add {
                width:           100%;
                display:         flex;
                justify-content: center;
            }
        }
    }
}