.modal-container {
    position:   fixed;
    top:        -50px;
    width:      100%;
    height:     calc(100% + 100px);
    background: rgba(#0A1F38, .7);
    transform:  translateY(-100px);
    opacity:    0;

    &--show {
        animation: show 0.3s forwards;
    }

    &--hide {
        animation: hide 0.3s forwards;
    }

    &__header {
        text-transform:  none !important;
        display:         flex;
        justify-content: space-between;
        align-items:     center;

        @media (max-width: 599px) {
            width: 100%;
        }

        &--action {
            width:           100%;
            display:         flex;
            justify-content: flex-end;
            align-items:     center;
        }
    }

    &__body {
        width:   100%;
        padding: 0 60px;
        @media (max-width: 599px) {
            padding: 0 16px;
        }
    }

    &__title {
        flex-grow:     1;
        padding:       0 60px;
        margin-bottom: 40px;
        @media (max-width: 599px) {
            padding:       0 16px;
            font-size:     32px;
            margin-bottom: 26px;
        }
    }

    &__block {
        position:       absolute;
        top:            50%;
        left:           50%;
        transform:      translate(-50%, -50%);
        max-width:      95vw;
        z-index:        1021;
        display:        flex;
        flex-direction: column;
        padding:        10px 0;
        max-height:     calc(100% - 120px);

        @media (max-width: 599px) {
            max-height: 100vh;
            height:     100%;
            padding:    0 0 20px;
            margin:     10px 0;
        }
    }

    &__card {
        overflow:      auto;
        background:    $dark-middle;
        border-radius: 40px;
        padding:       20px 20px 60px;

        @media (max-width: 599px) {
            height:          100%;
            display:         flex;
            justify-content: center;
            flex-direction:  column;
            align-items:     center;
            padding:         16px;
        }
    }

    &__append {
        color:      $white;
        margin-top: 15px;
        flex:       1;
    }


    @media (max-width: 599px) {
        &__append {
            margin-top: 5px;
        }
        &__card {
        }
        &__title {
            max-width: calc(100% - 25px);
        }
    }

}

@keyframes show {
    0% {
        transform: translateY(-50px);
        opacity:   0;
    }
    100% {
        transform: translateY(0);
        opacity:   1;
    }
}

@keyframes hide {
    0% {
        transform: translateY(0);
        opacity:   1;
    }
    100% {
        transform: translateY(-50px);
        opacity:   0;
    }
}