.row {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.mb-md {
    margin-bottom: 24px;
}

.mb-40 {
    margin-bottom: 40px;
}

.overflow-hidden {
    overflow: hidden;
}

.full-width {
    width: 100%;
}